.App {
	text-align: center;
}

.container {
	position: absolute;
	height: 500px;
	width: 500px;
	top: calc(50% - 250px);
	left: calc(50% - 250px);
}

.task {
	height: 80%;
	width: 80%;
	border: 1px solid black;
}

.task-name {
	font-weight: bold;
}

.total-cost {
	font-weight: bold;
}

.title-bar{
	display: flex;
	justify-content: space-between;
}